<!doctype html>
<html>
    <head>
            <title>Anti-Fake Product System</title>
            <link rel="stylesheet" type="text/css" href="./test.css">
            <script src="https://kit.fontawesome.com/888c19583a.js" crossorigin="anonymous"></script>
    </head>
        
    <body>
        <nav id="hello">
            <div class="container">
                <a  href="http://localhost:3000/">
                    <img href="https://cdn.pixabay.com/photo/2021/05/24/09/15/ethereum-logo-6278328_960_720.png" alt="Logo of the website" id="logo">
                </a>
                <div id="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p>Search</p>
                </div>
                <div id="blog">
                    <a  href="/">
                        <h1>Anti-Fake Product System</h1>
                    </a>
                </div>
                <div id="navbar">
                <ul>
                    <li><a href="http://localhost:3000/">Home</a></li>
                    <li><a href="./product.html"class="current">Products</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
               </div>
               <div id="cart">
                    <ul>
                        <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
                        <li><a href=""><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                    </ul>
               </div>
               </div>
               </div>
        </nav>

                 <section>
                     <div class="container">
                    <div id="head">
                        <p>#Addidas</p>
                    </div>
                    <div class="rare">
                        <img src="img/summer.jpg">
                        <p>Rs 550</p>
                    <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                   </div>
                    <div class="rare">
                        <img src="img/desire.jpg">
                        <p>Rs 1240</p>
                    <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/heart.jpg">
                        <p>Rs 755</p>
                    <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/story.jpg">
                        <p>Rs 555</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/ruskin.jpg">
                        <p>Rs 450</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/blues.jpg">
                        <p>Rs 885</p>
                    <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/call.jpg">
                        <p>Rs 760</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                   </div>
                    <div class="rare">
                        <img src="img/love.jpg">
                        <p>Rs 995</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/last.jpg">
                        <p>Rs 825</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                   </div>
                    <div class="rare">
                        <img src="img/before.jpg">
                        <p>Rs 1025</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                  </div>
                </section>
                <section>
                    <div class="container">
                    <div id="head">
                        <p>#Murder mystery</p>
                    </div>
                    <div class="rare">
                        <img src="img/children.jpg">
                        <p>Rs 930</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/confession.jpg">
                        <p>Rs 925</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/james.jpg">
                        <p>Rs 775</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/hidden.jpg">
                        <p>Rs 800</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/announce.jpg">
                        <p>Rs 760</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                </section>
                 <section>
                     <div class="container">
                    <div id="head">
                        <p>#Chetan Bhagat</p>
                    </div>
                    <div class="rare">
                        <img src="img/indian.jpg">
                        <p>Rs 560</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/half.jpg">
                        <p>Rs 460</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/state.jpg">
                        <p>Rs 685</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/revolution.jpg">
                        <p>Rs 775</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/mistake.jpg">
                        <p>Rs 665</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                 </section>
                 <section>
                      <div class="container">
                    <div id="head">
                        <p>#Series</p>
                    </div>
                    <div class="rare">
                        <img src="img/ends.jpeg">
                        <p>Rs 670</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/after.jpg">
                        <p>Rs 720</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/collided.jpg">
                        <p>Rs 795</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/loved.jpg">
                        <p>Rs 700</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/boys.jpg">
                        <p>Rs 770</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/forever.jpg">
                        <p>Rs 845</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/grey.jpg">
                        <p>Rs 675</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/freed.jpg">
                        <p>Rs 1100</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/you.jpg">
                        <p>Rs 1210</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/apart.jpg">
                        <p>Rs 1020</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                 </section>
                     <section>
                      <div class="container">
                    <div id="head">
                        <p>#Life Lesson</p>
                    </div>
                    <div class="rare">
                        <img src="img/jay.jpg">
                        <p>Rs 895</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/albert.jpg">
                        <p>Rs 760</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/elizabeth.jpg">
                        <p>Rs 865</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/rich.jpg">
                        <p>Rs 800</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                 </section>
                 <section>
                      <div class="container">
                    <div id="head">
                        <p>#Climbing</p>
                    </div>
                    <div class="rare">
                        <img src="img/annapurna.jpg">
                        <p>Rs 670</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/walter.jpg">
                        <p>Rs 540</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/everest.jpg">
                        <p>Rs 990</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/dead.jpg">
                        <p>Rs 780</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/mick.jpg">
                        <p>Rs 890</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                 </section>
                 <section>
                     <div class="container">
                    <div id="head">
                        <p>#Beauty</p>
                    </div>
                    <div class="rare">
                        <img src="img/black.jpg">
                        <p>Rs 650</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/beauty.jpg">
                        <p>Rs 520</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/green.png">
                        <p>Rs 820</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                    <div class="rare">
                        <img src="img/erich.png">
                        <p>Rs 770</p>
                        <div class="bag">
                        <p>Add To Bag</p>
                    </div>
                    </div>
                 </section>
        <footer id="footer">
            <div id="icon" style="position:relative; left:400px;bottom:10px;">
                    <ul>
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-viber"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                <div id="copyright" style="position:relative; left:100px;">
                    <p>c 2023 Team Friends</p>
                </div>
             </div>
        </footer>
           <button id="arrowUp" onClick="goUp()"><i class="fas fa-arrow-up"></i></button>
         <script src="js/script.js"></script>
    </body>
</html>
