*{
    margin: 0;
    padding: 0;
}

.container{
    width: 92%;
    margin: auto;
    overflow: hidden;

}

.rare{
    float: left;
    margin-left: 80px;
    margin-top: 40px;
}

.bag{
    border: 2px solid lightpink;
}

.bag p{
    padding-left: 25%;
}